/* Footer style */
.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  /* no fixed positioning here! */
  /* footer positioning will be handled by parent flex layout */
}
