.multi-select-container {
  width: auto;
  /* margin: 50px auto; */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* padding: 8px; */
  font-family: Arial, sans-serif;
  background-color: white;
  position: relative; /* important for dropdown positioning */
  z-index: 10;
}

.multi-select-input-area {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  /* min-height: 40px; */
  align-items: center;
  cursor: text;
  border-radius: 15px;
}

.multi-select-tag {
  background-color: #007bff;
  color: white;
  padding: 5px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.multi-select-tag-remove {
  margin-left: 6px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  padding: 0;
}

.multi-select-input {
  flex: 1;
  min-width: 120px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px;
}

.multi-select-dropdown {
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  z-index: 1000;
}

.multi-select-option {
  padding: 8px;
  cursor: pointer;
}

.multi-select-option:hover {
  background-color: #f0f0f0;
}
